<!-- 
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">

            <div class="card text-bg-light mb-3" width="10000 px">
                <div class="card-header">
                    <h3>Hospital Details</h3>
                    <button class="btn btn-light">...</button>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Light card title</h5> 
                  <p class="card-text">Customer Type      {{customer[0].customerType}}</p>
                  <p class="card-text">Customer Name      {{customer[0].customerName}}</p>
                  <p class="card-text">Requested By       {{customer[0].requestedBy}}</p>
                  <p class="card-text">Addresss           {{customer[0].postOffice}}</p>
                  <p class="card-text">                   {{customer[0].city}},{{customer[0].state}}</p>
                  <p class="card-text">                   {{customer[0].pincode}}</p>
                  <p class="card-text">Phone Number       {{customer[0].phoneNumber}}</p>

                </div>
            </div>
        </div>
    </div>
</div>
 -->
