

<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand"></a>
        <div id="left" class='left'>

          <img class="img" src="assets\images\stryker_icon.png" alt="">
    
        </div>
        <form class="d-flex" role="search" id="searchBar">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" >
        <button class="btn btn-outline-success" type="submit">Create</button>
      </form>
    </div>
  </nav>